/*!
 * Shoowlace v1(http://shoowlace.com)
 * Copyright 2014
 */
 
 
/* Wrappers */

.container {
	width: 1100px;
	max-width: 90%;
	margin: 0 auto;
	/*background-color: #D2D7D3;*/
	height:auto;
	overflow: auto;
}

 
/* MenuBar */

.top-bar{
	background-color: #ECECEC;
	width:100%;
	overflow:auto;
	height:auto;
	padding: 10px 0;
}

.top-bar-brand{
	float:left;
	font-size:18px;
	color: #2C3E50;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

nav{
	float:right;	
	height: 100%;
	margin: 0;
	padding: 4px 0 0 0;
}

.navbar-right{
}

.navbar-right ul{
	padding: 0;
	list-style:none;
}

.navbar-right li{
	display:inline-block;
	margin: 0 10px;
}



/* Navigation */
 
/* Header */

/* Grids */

.row{
	width: 100%;
	height: auto;
	overflow:auto;
	background-color: #ECF0F1;
	margin:20px 0;
}

.col-group-sm{
	width: 25%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-sm-right{
	width: 25%;
	float: right;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-md{
	width: 50%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-twothird{
	width: 66.66666%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-onethird{
	width: 33.33333%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}




.col-group-lg{
	width: 75%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-2{
	width: 50%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-3{
	width: 33.33333%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-4{
	width: 25%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-5{
	width: 20%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-6{
	width: 16.66666%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-7{
	width: 14.28%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-8{
	width: 12.5%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-9{
	width: 11.11%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-10{
	width: 10%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-11{
	width: 9.09%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}

.col-group-12{
	width: 8.333%;
	float: left;
	background-color: transparent;
	box-sizing:border-box;
	padding: 10px 0;
}


/* Footer */

.bottom-bar-light{
	background-color: #ECECEC;
	width:100%;
	overflow:auto;
	height:auto;
}

.bottom-bar-dark{
	background-color: #2C3E50;
	width:100%;
}

.bottom-bar-brand{
	float:left;
	padding: 20px 10px;
	font-size:18px;
	color: #2C3E50;
}

.bottom-right{
	margin-top: 22px;
	float:right;
}

.bottom-right ul{
	padding: 0;
	list-style:none;
}

.bottom-right li{
	display:inline-block;
	margin: 0 10px;
}

/* Forms */

